/* header */

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 30px;
  color: white;
  background-color: black;
}

/* this is the burger menu for mobile sized narrow screens - not visible by default (in wider screens) */
header .leftMenu {
  display: none;
  height: 100%;
}

header .leftMenu > * {
  border-bottom: 3px solid white;
  width: 50px;
}

header .rightMenu {
  margin-left: auto;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: white;
}

/* this is the control of the header height */
#avatar {
  width: 70px;
  border-radius: 50%;
}

/* banner */

.banner {
  border-bottom: 1px solid black;
}

.banner div {
  margin: 0 auto;
  padding: 10px;
  background-image: url(../../assets/images/hero.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  padding: 25px 0;
}

.banner h2 {
  margin: 0 auto;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

/* main */

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-wrapper h2 {
  margin-bottom: 30px;
}

#about {
  background-color: aquamarine;
}

#about article {
  line-height: 2rem;
}

#contact {
  background-color: rgb(78, 78, 78);
  color: white;
}

/* work  */

.page-section {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 50px 0;
}

.wrapper {
  margin: 0 5%;
}

.work-grid {
  display: grid;
  grid-template-rows: 600px 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "one one"
    "two three";
  gap: 40px;
}

#work article.one {
  grid-area: one;
}

#work article.two {
  grid-area: two;
}

#work article.three {
  grid-area: three;
}

#work article {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Setting relative position parent for child image (background) */
  position: relative;
  overflow: hidden;
}

/* the image used to create the background of the work items */
#work article .bg {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#work .details {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.607);
  color: white;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* take all the available empty space - for the clickable anchor */
#work .title-wrapper {
  flex-grow: 1;
}

#work a {
  text-decoration: none;
  color: rgb(60, 60, 60);
}

#work h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-grow: 1;
  font-size: 40px;
  font-family: "Brush Script MT", cursive;
  visibility: hidden;
  height: 100%;
  /* this style was added to postion each work title top left */
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 40px;
}

/* the only work title required in HTML - other work titles are displayed via the image */
#work .three h3 {
  visibility: visible;
}

/* media queries */

@media only screen and (max-width: 1000px) {
  .page-wrapper h2 {
    margin-bottom: 20px;
  }

  .page-section {
    padding-top: 30px;
    padding-top: 40px;
  }

  .work-grid {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three";
    gap: 40px;
  }
}

@media only screen and (max-width: 700px) {
  /* remove the nav row of text links  */
  nav {
    display: none;
  }

  header {
    grid-template-columns: 1fr auto 1fr;
  }

  /* burger menu replaces nav row of links */
  header .leftMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
