/* header */

header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: black;
}

header .right {
  margin-left: auto;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: white;
}

#avatar {
  width: 70px;
  border-radius: 50%;
}

/* banner */

.banner {
  border: 1px solid black;
}

.banner > * {
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
}

/* main */

.page-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 20px 5%;
}

.page-wrapper h2 {
  margin-bottom: 10px;
}
